= tinymce
= simple_form_for(@job, html: {multiparte: true, class: 'form-horizontal'}) do |f|
 %p
  
  = f.collection_select :polos_id, Polos.all, :id, :nome, {promt: "Selecione a instituição" }, input_html: { class: "dropdown-toggle" }
  %p
  = f.collection_select :cursos_id, Cursos.all, :id, :nome, {promt: "Selecione o Curso" }, input_html: { class: "dropdown-toggle" }
  %p
  = f.grouped_collection_select :category_id, Cursos.order(:nome), :category, :nome, :id, :nome, include_blank: false 


  = f.input :docente, label: "Docente",input_html: { class: "form-control" }
  = f.input :objectivos, label:"Objetivos de aprendizagem  ", input_html: { class: "tinymce"}
  = f.input :objectivos_ing, label: "Objectives of the curricular unit and competences to be developed: ", input_html: { class: "tinymce" }
  = f.input :conteudo, label: "Conteúdos programáticos: ", input_html: { class: "tinymce" }
  = f.input :conteudos_ing, label: "Syllabus: ", input_html: { class: "tinymce" }
  = f.input :demostracao, label: "Demonstração da coerência dos conteúdos programáticos  ", input_html: { class: "tinymce" }
  = f.input :demostracao_ing, label: "Demonstration of the syllabus coherence with curricular unit´s objectives:", input_html: {class: "tinymce"}
  = f.input :metodologia, label: "Metodologias de ensino (Incluindo Avaliação): ", input_html: {  class: "tinymce" }
  = f.input :metodologia_ing, label: "Teaching methodologies (including evaluation): ", input_html:{class: "tinymce" }
  = f.input :bibliografia, label: "Bibliografia principal / Netgrafia: ", input_html: { class: "tinymce" }
  = f.input :bibliografia_ing, label: "Main bibliography ",input_html:{class: "tinymce"}


  = f.button :submit ,value:"Save PUC", class: "btn btn-sm btn-default"

  = link_to "Back", root_path , class: "btn btn-sm btn-default"
  