

#jobs
	%texto= 'PUC para Avaliar' 
	-if @jobs.blank?
		%p
		%p Não existem pucs para avaliar
	-else
		= will_paginate @jobs, renderer: BootstrapPagination::Rails
		- @jobs.each do |job|
			.job
				%h2= link_to job.category.nome	, job
				%p= job.docente
				%p= job.user.email
				%cor= 'Estado:' + ' '+ job.situacao

 
