!!! 
%html
%head
	%title PUC
	
	
	= stylesheet_link_tag    'application', media: 'all'
	= csrf_meta_tags
	= javascript_include_tag :defaults
	

%body

	%nav.navbar.navbar-default
		.container
			= link_to "Plano da Unidade Curricular | IPAM", root_path, "class" => 'navbar-brand'
			
			%ul.nav.navbar-nav
			= javascript_include_tag :defaults
			#buttons
				- if user_signed_in?

					= link_to "Novo Plano", new_job_path
					= link_to "PUC para Avaliar", :controller => "jobs", :action => "index"
					= link_to "Os meus PUC", :controller => "jobs", :action => "index2"
					= link_to "Puc Validados", :controller => "jobs", :action => "puc_validados"
					= link_to "Sign Out", destroy_user_session_path, :method => :delete
				- else
					= link_to "Sign Up", new_user_registration_path
					= link_to "Sign In", new_user_session_path

	.container
		.col-md-6.col-md-offset-3
			= yield

